/* jumbotron */
.jumbotron {
  padding: 20px 0;
}

/* font related */
body {
    font-family: 'PT Serif', 'Gentium Book Basic', Georgia, 'Times New Roman', serif;
    font-size: 16px;
}

.navbar-brand{ font-size: 20px; }

h1, h2, h3{
    font-weight: 500;
}

h4, h5{
    font-size: 17px;
    font-weight: 500;
}

.label{ font-weight: 400; }

.gist{ font-size: 13px; }

/* date */
.date {
    font-weight: 600;
    font-size: 17px;
}

/* footer */
body footer {
    margin-bottom: 30px;
}


/* tag-box */
.tag-box {
    margin: 0;
    overflow: hidden;
     }

.tag-box li {
    float: left;
    padding: 3px 3px;
    margin: 0px;
}

.tag-box .tag-icon{
    opacity: 0.7;
    margin-top: 5px;
    margin-right: 10px;
}

.tag-box .tag-size {
    vertical-align: super;
    font-size: 0.8em;
}


/* publication list */
.pub {
    padding-left: 20pt;
    margin-bottom: 20px;
}

.pub li{
    position: relative;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

/* search */
.reset-box-sizing,
.reset-box-sizing * {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.gsc-search-button-v2{
    padding: 5px 7px!important;
}

.gsc-input-box{
    height: 26px!important;
}

#gsc-i-id1{
    font-size: 13px!important;
}

.search{
    max-width: 200px;
    margin-bottom: 30px;
}
@media (max-width: 991px) {
    .search {
         float: left;
         margin-right: 50px;
         margin-bottom: 0px;
    }
}

.github{
    max-width: 200px;
}


.maincontent {
    border-style: solid;
    border-color: #ddd;
    border-width: 0px 1px 0px 0px;
}
@media (max-width: 991px) {
    .maincontent {
         border-width: 0px;
    }
}
