/* container size */
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/* date */
.date {
    font-weight: 600;
}

/* footer */

footer {
    margin-bottom: 30px;
}

/* tag-box */
.tag-box {
    margin: 0;
    overflow: hidden;
     }

.tag-box li {
    float: left;
    padding: 3px 3px;
    margin: 0px;
}

.tag-box .tag-icon{
    opacity: 0.7;
    margin-top: 5px;
    margin-right: 10px;
}

.tag-box .tag-size {
    vertical-align: super;
    font-size: 0.8em;
}

/* accordion */
#accordion > h3{
    cursor: pointer;
    outline: 0;
}

#accordion .ui-accordion-header-icon{
    font-size:18px;
    margin-right: 5px;
}

/* publication list */
.pub {
    padding-left: 20pt;
    margin-bottom: 20px;
}

.pub li{
    position: relative;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

/* search */
.reset-box-sizing,
.reset-box-sizing * {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.gsc-search-button-v2{
    padding: 5px 7px!important;
}

.gsc-input-box{
    height: 26px!important;
}

#gsc-i-id1{
    font-size: 13px!important;
}

.search{
    height: 65px;
    padding: 5px;
}

/* table */

.content > table {
    width: 100%;
    overflow: auto;
    display: block
}

.content > table th {
    font-weight: bold
}

.content > table th, .content > table td {
    border: 1px solid #ddd;
    padding: 6px 13px
}

.content > table tr {
    border-top: 1px solid #ccc;
    background-color: #fff
}

.content > table tr:nth-child(2n) {
    background-color: #f8f8f8
}